* {
	box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* Header logo/hiding menu */

#start-logo {
  position: absolute;
  width: 14em;
  top: 65px;
  left: calc(50% - 7em);
  z-index: 1;
}

header {
  display: flex;
  position: fixed;
  margin: 0 2vw;
  padding: 2vw;
  width: 96vw;
  color: #fff;
  background-color: rgba(37, 37, 37, 0.8);
  border-radius: 0 0 1em 1em;
  z-index: 2;
  transform: translateY(-3em);
  transition: transform .8s;
}

header:hover, header.active {
  transform: translateY(0);
}

header .logo {
  flex-grow: 1;
  padding-top: 0.25em;
  font-size: 2em;
}
/*header .logo img {
  width: 8em;
}*/
header nav {
  display: flex;
}

a.nav-item {
  margin: 0 1.5em 0 0;
  height: 2em;
  font-size: 1.3em;
  color: #fff;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  transition: all 1s ease;
}

a.nav-item:hover {
  color: #202b47;
  background-color: #fff;
  box-shadow: #d3d3d3;
}

img {
  width: 100vw;
  height: auto;
}

